{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="archive__item-teaser" style="position: relative">
        {% if post.link %}
            <a href="{{ post.link }}">
        {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
        {% endif %}
                {% if post.teaser_type == 'image'%}
                    <img src="{{ post.teaser }}" style="object-fit: cover;height: -webkit-fill-available;">
                {% elsif post.teaser_type == 'video'%}
                    <video muted loop
                           width=500px height=300px
                           src="{{ post.teaser }}"
                           style="object-fit: cover;max-width: -webkit-fill-available;max-height: -webkit-fill-available;"
                           {% if post.teaser_video_hover %}
                               onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
                           {% else %}
                               autoplay>
                           {% endif %}
                    </video>
                {% endif %}
            </a>
    </div>

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.dates %}
      <i style="font-size: small;">{{ post.dates }}</i>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
  </article>
</div>
