{% include base_path %}

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">
        {{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}
        <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: normal;font-size: medium;">
          {{ page.previous.title | markdownify | strip_html }}</div>
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}<p></p></a>
    {% endif %}

    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">
        {{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}
        <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: normal;font-size: medium;">
          {{ page.next.title | markdownify | strip_html }}</div>
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}<p></p></a>
    {% endif %}
  </nav>
{% endif %}